
<main id="main" style="margin-top: 75.2px;">
<main role="main" id="site-content">
	<div class="container">
	  <div class="mt-5 text-wrap" style="margin: 3em 0;">
	    &nbsp;&nbsp;&nbsp;<div class="text-copy"><h1 class="h2 row-space-4">About Us</h1><p><span id="docs-internal-guid-ede529d6-7fff-3cf9-8d49-47ff945922d1"></span></p><p dir="ltr" style="line-height:1.38;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 11pt; font-family: Arial; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; color: rgb(0, 0, 0);">EasyRide seeks to provide a convenient ride experience for riders while supporting local youth to get employed. Our ride sharing model focuses on the rider. Our model is built around smaller cities across Africa where the giants in the industry may not see value in those markets.</span></p><p dir="ltr" style="line-height:1.38;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 11pt; font-family: Arial; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; color: rgb(0, 0, 0);"><br></span></p><p dir="ltr" style="line-height:1.38;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 11pt; font-family: Arial; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; color: rgb(0, 0, 0);">EasyRide is the flagship project of <a href="https://mmadwenmma.com" target="_blank">Mmadwenmma Ltd</a></span></p></div>
	  </div>
	</div>
</main>
</main>