<div class="container-fluid" style="background: #f8f8f9 !important">
  <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 pattern-content">
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
      <img src="~/images/icon/easy_way.png" />
    </div>
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 pad-md">
      
      <p
        class="slide-content trip-content"
        style="margin-bottom: 10px !important"
      >
        How School bus Tracker Works
      </p>
      <p class="cmln__paragraph">
        <b>Step 1: Sign Up</b><br />
        Register for an account on our website.
      </p>
      <p class="cmln__paragraph">
        <b>Step 2: Add buses</b><br />
        Add the school buses you want to track.
      </p>
      <p class="cmln__paragraph">
        <b>Step 3: Real-Time Tracking</b><br />
        Monitor the buses' real-time location on the map.
      </p>
       <p class="cmln__paragraph">
        <b>Step 4: Notifications</b><br />
        Receive notifications about bus arrivals and departures.
      </p>
    </div>
  </div>
</div>
