@* <div class="container-fluid" style="background-color: #f8f8f9 !important;">
	<div class="col-lg-11 col-md-12 col-sm-12 col-xs-12 pattern-content">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
<p class="_style_ZJW1y" style="margin: 10px 0px 0px !important; min-height: unset;"> </p>
<p class="slide-content trip-content" style="margin-bottom:10px !important;"></p>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mar-height ride-three" style="padding-right: 20px; padding-left: 20px;">
<img src="/images/icon/cont7.png" class="cont-img">
<div class="arrive-content arrive-width">
<div style="position: relative !important;">
<p class="_style_ZJW1y" style="margin: 10px 0px 15px !important; min-height: unset;">Personal Plan</p>
</div><div><p class="cmln__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti laboriosam nam iusto repellat sunt impedit nulla, nisi pariatur dolorem qui, voluptatibus earum eum fugiat quidem? Neque sunt sed repellat similique.</p>
</div></div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mar-height ride-three" style="padding-right: 20px; padding-left: 20px;">
<img src="/images/icon/cont8.jpg" class="cont-img">
<div class="arrive-content arrive-width">
<div style="position: relative !important;">
<p class="_style_ZJW1y" style="margin: 10px 0px 15px !important; min-height: unset;">Family Plan</p>
</div><div><p class="cmln__paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, nesciunt numquam esse iusto doloremque laborum similique animi quidem perferendis repudiandae sunt obcaecati neque est, quod saepe minima in molestiae deserunt.</p>
</div></div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mar-height ride-three" style="padding-right: 20px; padding-left: 20px;">
<img src="/images/icon/cont5.png" class="cont-img">
<div class="arrive-content arrive-width">
<div style="position: relative !important;">
<p class="_style_ZJW1y" style="margin: 10px 0px 15px !important; min-height: unset;">Student Plan</p>
</div><div><p class="cmln__paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit commodi veritatis repellendus exercitationem officiis optio. Deserunt nostrum odio porro architecto, quod tempore optio labore officiis distinctio voluptate, veritatis explicabo maxime.</p>
</div></div>
</div>
</div>

</div>
</div> *@









<div class="cls_signin">
  <div class="container">
    <div class="col-lg-12">
      <h2 class="title"></h2>
             <div class="col-lg-4">
        <div class="cls_signintext">
          <h4>Personal Plan</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
          <a href="">View Details  <img src="/images/new/arrow-right.svg" alt="arrow">
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cls_signintext">
          <h4>Family Plan</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
          <a href="">View Details  <img src="/images/new/arrow-right.svg" alt="arrow">
          </a>
        </div>
      </div>  
                        <div class="col-lg-4">
            <div class="cls_signintext">
              <h4>Student Plan</h4>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
              <a href="">View Details  <img src="/images/new/arrow-right.svg" alt="arrow">
              </a>
            </div>
          </div>  
           </div>
  </div>
</div>